<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/macbookpro/Desktop/Selenium_Project_Final">
        <classes>
            <class name="testclass.IndexTest">
                <methods>
                    <include name="verify"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>